[includeif "gitdir:~/repos/work/"]
	path = ~/src/work/.gitconfig_work
	
[includeif "gitdir:~/repos/personal/"]
	path = ~/src/personal/.gitconfig_personal

[includeif "gitdir:~/dotfiles"]
        path = ~/src/personal/.gitconfig_personal

[user]
    name = André Anundsson
    email = andre@anundsson.net
[push]
	autoSetupRemote = true
[maintenance]
	auto = false
	strategy = incremental
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[alias]
	staash = stash --all
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
