[includeif "gitdir:~/repos/work/"]
	path = ~/src/work/.gitconfig
	
[includeif "gitdir:~/repos/personal/"]
	path = ~/src/personal/.gitconfig

[user]
	name = André Anundsson
	email = andre@anundsson.net
[core]
	sshCommand = ssh -i ~/.ssh/home_ed25519

[push]
	autoSetupRemote = true
