[includeif "gitdir:~/repos/work/"]
	path = ~/repos/work/.gitconfig
	
[includeif "gitdir:~/repos/personal/"]
	path = ~/repos/personal/.gitconfig

[user]
	name = André Anundsson
	email = andre@anundsson.net
#[core]
#	sshCommand = ssh -i ~/.ssh/home_ed25519

[push]
	autoSetupRemote = true
[maintenance]
	auto = false
	strategy = incremental
	repo = /Users/andre/repos/personal/ansible
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[alias]
	staash = stash --all
[credential]
	helper = store
